# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log

# OS Files
Thumbs.db
.DS_Store

# Environment Variables
.env

# Build Files
dist/
build/

# Temporary Files
*.tmp
*.bak
*.sqbpro
# Large ML model
Day09/model/model.pkl